In [71]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler

In [72]:
df = pd.read_csv('/content/train.csv')

In [73]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [74]:
df.isna().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [75]:
df = df.dropna(axis=1)
df.head()

,Id,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,12,2008,WD,Normal,250000

In [76]:
df.isnull().sum()

Id               0
MSSubClass       0
MSZoning         0
LotArea          0
Street           0
                ..
MoSold           0
YrSold           0
SaleType         0
SaleCondition    0
SalePrice        0
Length: 62, dtype: int64

In [77]:
columns = df.columns.tolist()
print(columns)

['Id', 'MSSubClass', 'MSZoning', 'LotArea', 'Street', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating', 'HeatingQC', 'CentralAir', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'GarageCars', 'GarageArea', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold', 'SaleType', 'SaleCondition', 'SalePrice']

In [78]:
data = df[['OverallQual', 'OverallCond', 'LotArea', 'GarageArea', 'TotalBsmtSF', 'GrLivArea', 'SalePrice']]

In [79]:
data.head()

,OverallQual,OverallCond,LotArea,GarageArea,TotalBsmtSF,GrLivArea,SalePrice
0,7,5,8450,548,856,1710,208500
1,6,8,9600,460,1262,1262,181500
2,7,5,11250,608,920,1786,223500
3,7,5,9550,642,756,1717,140000
4,8,5,14260,836,1145,2198,250000

# **Normalization**

In [80]:
normalized_columns = ['OverallQual', 'OverallCond', 'LotArea', 'GarageArea', 'TotalBsmtSF', 'GrLivArea', 'SalePrice']

scaler = MinMaxScaler()

#transform the numerical columns
data[normalized_columns] = scaler.fit_transform(data[normalized_columns])

<ipython-input-80-0631d29fa66c>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[normalized_columns] = scaler.fit_transform(data[normalized_columns])

In [81]:
data.head()

,OverallQual,OverallCond,LotArea,GarageArea,TotalBsmtSF,GrLivArea,SalePrice
0,0.666667,0.500,0.033420,0.386460,0.140098,0.259231,0.241078
1,0.555556,0.875,0.038795,0.324401,0.206547,0.174830,0.203583
2,0.666667,0.500,0.046507,0.428773,0.150573,0.273549,0.261908
3,0.666667,0.500,0.038561,0.452750,0.123732,0.260550,0.145952
4,0.777778,0.500,0.060576,0.589563,0.187398,0.351168,0.298709

# **Decision Tree Regression**

In [82]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [83]:
X = data[['OverallQual', 'OverallCond', 'LotArea', 'GarageArea', 'TotalBsmtSF', 'GrLivArea']]
y = data['SalePrice']

In [84]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [85]:
model = DecisionTreeRegressor()

model.fit(X_train, y_train)

DecisionTreeRegressor()

In [86]:
y_pred = model.predict(X_test)
print(y_pred)

[0.17164283 0.42369115 0.12651021 0.13206499 0.47090682 0.02444105
 0.18414109 0.15775587 0.02444105 0.18414109 0.17928066 0.12998195
 0.10602694 0.24871546 0.1909457  0.13484238 0.28621025 0.11609499
 0.13623108 0.22774615 0.19039022 0.17928066 0.19302875 0.10776281
 0.1987224  0.14872934 0.20705458 0.06610193 0.18483544 0.22371893
 0.13137064 0.25635328 0.21538675 0.09943063 0.29870851 0.12373281
 0.22927371 0.24316067 0.38064158 0.13900847 0.12859325 0.31676156
 0.10151368 0.53895292 0.15046521 0.24316067 0.08970976 0.11678933
 0.52437162 0.1626163  0.11956673 0.20038883 0.07700319 0.52089988
 0.14039717 0.28482155 0.20705458 0.17372587 0.14942369 0.09179281
 0.03485627 0.13484238 0.4431329  0.28343286 0.33342591 0.28134981
 0.09720872 0.40372726 0.12512151 0.18552979 0.11673934 0.12373281
 0.11678933 0.07679489 0.5993612  0.19654492 0.42369115 0.31953895
 0.14456326 0.11803916 0.09873629 0.10151368 0.16817109 0.07700319
 0.17303152 0.17775309 0.3014859  0.23968893 0.14039717 0.22946952
 0.12373281 0.19108457 0.1278989  0.31259547 0.21538675 0.20149979
 0.22163588 0.17511457 0.27533676 0.27093459 0.10429107 0.24316067
 0.20149979 0.26260242 0.18483544 0.10429107 0.15289543 0.337592
 0.12720455 0.19108457 0.03624497 0.15567282 0.15970004 0.1278989
 0.27787807 0.1278989  0.11678933 0.08068324 0.22927371 0.15567282
 0.18122483 0.14039717 0.23066241 0.1973337  0.19663936 0.15150674
 0.27787807 0.11748368 0.12373281 0.20136092 0.23899458 0.37022636
 0.26399111 0.31190112 0.05221497 0.39591723 0.47090682 0.10429107
 0.27371198 0.98611304 0.52089988 0.15150674 0.18087766 0.23968893
 0.16817109 0.11748368 0.26051937 0.21191501 0.11803916 0.07373976
 0.08311346 0.13345369 0.25288154 0.17372587 0.06263019 0.18691848
 0.10012498 0.17789196 0.07026802 0.11956673 0.21191501 0.13067629
 0.33328704 0.22927371 0.12512151 0.15983891 0.21399806 0.42369115
 0.55860853 0.32370504 0.47566449 0.09040411 0.18691848 0.1973337
 0.54154978 0.17025413 0.1292876  0.21191501 0.06957367 0.1973337
 0.18414109 0.08762672 0.15567282 0.15011804 0.28065546 0.18761283
 0.39313984 0.19316762 0.23297459 0.06749063 0.12512151 0.12373281
 0.09720872 0.12373281 0.20844327 0.20080544 0.21816414 0.09040411
 0.18761283 0.12651021 0.37092071 0.31259547 0.10429107 0.42369115
 0.29951396 0.12998195 0.28065546 0.16678239 0.14241078 0.12095542
 0.25982502 0.179975   0.06540758 0.18552979 0.31259547 0.31892932
 0.19108457 0.13553673 0.06957367 0.22580197 0.15970004 0.24802111
 0.12026107 0.10845716 0.32078878 0.11678933 0.09040411 0.08311346
 0.18900153 0.09943063 0.07096237 0.17303152 0.12859325 0.179975
 0.25010415 0.18900153 0.23760589 0.1594223  0.26051937 0.08970976
 0.05290932 0.22510762 0.20705458 0.41420358 0.22927371 0.14456326
 0.14456326 0.14942369 0.13761978 0.07235106 0.14440633 0.18761283
 0.12512151 0.07235106 0.13900847 0.14595195 0.09734759 0.11540064
 0.1973337  0.26885155 0.37022636 0.15289543 0.15150674 0.2348285
 0.25265519 0.26260242 0.18066935 0.14039717 0.13518956 0.18552979
 0.51098597 0.24802111 0.28454242 0.06679628 0.07651715 0.18747396
 0.13206499 0.49928066 0.26190807 0.14595195 0.26399111 0.07235106
 0.21052632 0.11748368 0.30634634 0.18344674 0.26190807 0.09943063
 0.24871546 0.20844327 0.12512151 0.11887238]

In [87]:
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 0.0030258756280126713

# **Linear Regression**

In [88]:
from sklearn.linear_model import LinearRegression

In [89]:
X1 = data[['OverallQual', 'OverallCond', 'LotArea', 'GarageArea', 'TotalBsmtSF', 'GrLivArea']]
y1 = data['SalePrice']

In [90]:
X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, test_size=0.2, random_state=42)

In [92]:
model = LinearRegression()

model.fit(X1_train, y1_train)

LinearRegression()

In [94]:
y1_pred = model.predict(X1_test)

print(y1_pred)

[ 0.16092234  0.36397935  0.12378434  0.19914144  0.36802107  0.01699373
  0.25972746  0.17677943  0.01736186  0.14133705  0.20442777  0.10534551
  0.11670451  0.25334903  0.19853297  0.11536007  0.23187555  0.12188671
  0.15157795  0.25078012  0.17853542  0.27909629  0.18767458  0.11224446
  0.2551394   0.18625805  0.22442059  0.08286009  0.19678923  0.22748318
  0.1418553   0.29300836  0.23278087  0.0774545   0.3292993   0.1723464
  0.16109738  0.24291743  0.36878599  0.07864274  0.17364931  0.259167
  0.1087954   0.40863869  0.13678327  0.20676655  0.10452415  0.12200348
  0.43911869  0.14187379  0.11152603  0.2354774   0.1071693   0.38390256
  0.14347355  0.28330621  0.23121873  0.1536227   0.18805373  0.0836814
  0.03151811  0.14045125  0.35487567  0.33232593  0.32917341  0.25200453
  0.1060366   0.34805233  0.08818042  0.17353276  0.11730113  0.12538342
  0.07663827  0.01628324  0.42425889  0.18185274  0.36016723  0.33293171
  0.12923426  0.10339798  0.13199731  0.11199063  0.1421843   0.08475723
  0.17785179  0.10355343  0.3419666   0.23541378  0.14347107  0.21615109
  0.20810501  0.15590644  0.10008101  0.32194057  0.1214205   0.18726538
  0.2503742   0.21416126  0.26173145  0.27975954  0.22043306  0.24451609
  0.31841052  0.20231993  0.18526603  0.19814826  0.17191828  0.30799079
  0.14477298  0.19375584 -0.06273586  0.09206409  0.12093165  0.13606826
  0.25686407  0.0955696   0.07077936  0.08084374  0.18682709  0.37985641
  0.16642822  0.14347355  0.1936937   0.20602754  0.2110372   0.11404288
  0.27483471  0.10571613  0.13044638  0.23751145  0.2288211   0.35830303
  0.2466313   0.18419735 -0.04486437  0.40130453  0.3835274   0.11240526
  0.29354385  0.58169144  0.38394376  0.11299252  0.19684658  0.21696297
  0.16316722  0.10232288  0.24249631  0.25538542  0.10881247 -0.0015128
  0.07605642  0.16995939  0.29665414  0.20446069  0.03648248  0.12884343
  0.10741089  0.19758213  0.02134004  0.11818398  0.26056378  0.17685905
  0.32158875  0.15780684  0.12307722  0.15539743  0.25958227  0.37287159
  0.43452037  0.28647364  0.37722231  0.04234684  0.11530763  0.1811728
  0.36919594  0.11303576  0.15863463  0.24330297  0.12842094  0.17977577
  0.16143765  0.11838555  0.13342316  0.19509664  0.30503838  0.23048086
  0.32951719  0.25081578  0.23180814  0.06110465  0.13230952  0.12257788
  0.12443215  0.16842933  0.20142787  0.16725672  0.26084333  0.076354
  0.27215871  0.11620713  0.30758306  0.22169309  0.14325291  0.36077491
  0.23511857  0.12014185  0.29745526  0.14252787  0.17543457  0.10122762
  0.28582885  0.17331867  0.06369125  0.17424225  0.26129298  0.31022884
  0.24214423  0.17052367  0.12997798  0.14239959  0.11931403  0.26999565
  0.19667538  0.102382    0.28967065  0.17736979  0.09015757  0.06212691
  0.2022486   0.09540561  0.04923088  0.17683435  0.13895739  0.1030362
  0.28802697  0.17452049  0.23058359  0.17313225  0.2671986   0.13989422
  0.14618535  0.31471597  0.24628142  0.44757988  0.21803635  0.11570807
  0.17703159  0.18944441  0.14323032  0.08908943  0.16788496  0.20226318
  0.13301727  0.0799399   0.12970727  0.16415131  0.15328873  0.11500293
  0.18943683  0.3119965   0.36106505  0.19393658  0.10975713  0.26461131
  0.29133898  0.2334225   0.18174018  0.14347107  0.110821    0.19729319
  0.43976139  0.26304679  0.27663249  0.09725956  0.07162108  0.16748936
  0.22577847  0.36083248  0.18878362  0.14517303  0.24570803  0.05604632
  0.23622259  0.09853509  0.33082704  0.21249651  0.2605748   0.11628718
  0.24989452  0.21123055  0.09748633  0.08457452]

In [95]:
mse_linear = mean_squared_error(y1_test, y1_pred)
print("Mean squared error using linear regression: ", mse_linear )

Mean squared error using linear regression:  0.0030499202658558137